.asyncCarousel {
  width: 100%;
  min-height: 10px;
  overflow: hidden;
  position: relative;
  .previousContent,
  .currentContent,
  .nextContent {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .previousContent {
    left: -100%;
  }
  .nextContent {
    left: 100%;
  }
  .nextArrow,
  .prevArrow {
    position: absolute;
    height: 40px;
    width: 40px;
    top: calc(50% - 20px);
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    cursor: pointer;
  }
  .prevArrow {
    left: 0;
  }
  .nextArrow {
    right: 0;
  }
}

img{
  min-width: 100%;
}