.asyncCarousel {
  width: 100%;
  min-height: 10px;
  overflow: hidden;
  position: relative;
}
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.contents {
  height: 100%;
  width: 100%;
}
.prevArrow {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.nextArrow {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.navIcon {
  background-color: #666;
  text-align: center;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  color: #ccc;
  margin: 5px 10px;
  box-sizing: border-box;
  display: block;
}
